/*Navbar Starts here*/
	
	/* Global Settings */
	body {
		--def: #96B7C4; 	
		--inv: #fff;
		background: linear-gradient(110deg, #203647 60%, #007CC7 60%);
		font-family: Arial;
	}
	
	html {
		font-size: 10px;
		font-family: 'Playfair Display', serif;
	}
	
	*, *:before, *:after {
		box-sizing: border-box;
	}
	/*Global Settings Ends here*/
	
	.nav-link, .dropdown-item {
		position: relative;	
		padding: 1.4rem 4.2rem;
		padding-right: 3.1rem;
		font-size: 1.4rem;
		color: var(--inv);
		letter-spacing: 0.7rem;
		text-transform: uppercase;
		transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
		cursor: pointer;
	}
	
	.nav-link:before, .nav-link:after, .dropdown-item:before, .dropdown-item:after {
		content: '';
		position: absolute;	
		transition: inherit;
		z-index: -1;
	}
	
	.nav-link:hover, .dropdown-item:hover {
		color: var(--def);
		transition-delay: .5s;
	}
	
	.nav-link:hover:before, .dropdown-item:hover:before {
		transition-delay: 0s;
	}
	
	.nav-link:hover:after, .dropdown-item:hover:after {
		background: var(--inv);
		transition-delay: .35s;	
	}
	
	.nav-link:before, .dropdown-item:before {
		top: 0;
		left: 50%;
		height: 100%;
		width: 0;
		border: 1px solid var(--inv);
		border-left: 0;
		border-right: 0;
	}
	
	.nav-link:after, .dropdown-item:after {
		bottom: 0;
		left: 0;
		height: 0;
		width: 100%;
		background: var(--inv);
	}
	
	.nav-link:hover:before, .dropdown-item:hover:before {
		left: 0;
		width: 100%;
	}
	
	.nav-link:hover:after, .dropdown-item:hover:after {
		top: 0;
		height: 100%;
	}

	.showdiv {
		background: none;
		border: none;
		box-shadow: none;
	}
/*Navbar Ends here*/

	/*Welcome Sign*/
	.card {
		background-color: none;
		color: #fff;
	}
	
	/*Card */
	.card {
		border-radius: 16px;
		margin: 30px auto;
		width: 500px;
		height: 300px;
		max-width: 100%;
		min-height: 500px;
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
		  0px 5px 8px 0px rgba(0, 0, 0, 0.14),
		  0px 1px 14px 0px rgba(0, 0, 0, 0.12);
		overflow: hidden;
		background-color: none;
		background-image: url('images/information.png');
		background-position: center;
		background-size: cover;
		border: none;
		
	}
	
	.info {
		position: relative;
		width: 100%;
		height: 500px;
		background-color:  #12232E;
		opacity: 0.95;
		transform: translateY(100%)
		  translateY(-88px)
		  translateZ(0);
		transition: transform 0.5s ease-out;
		overflow-y: auto;
		cursor: pointer;
	}
	
	.info:before {
		z-index: -1;
		display: block;
		position: absolute;
		content: ' ';
		width: 100%;
		height: 100%;
		overflow: hidden;
		filter: blur(10px);
		background-size: cover;
		opacity: 0.25;
		transform: translateY(-100%)
		  translateY(88px)
		  translateZ(0);
		transition: transform 0.5s ease-out;
	}
	
	.card:hover .info,
	.card:hover .info:before {
		transform: translateY(0) translateZ(0);
	}
	
	.card-head {
		margin: 0;
		padding: 24px;
		font-size: 40px;
		line-height: 1;
		color: #fff;
	}
	
	.description {
		margin: 0;
		padding: 0 24px 24px;
		font-size: 18px;
		line-height: 1.5;
		color: #fff;
	}
/*Welcome Sign*/

/*Content*/
	.pharagraph {
		color: #fff;
		font-size: 14px;
	}
	
	.background {
		background-color:  #12232E;
		opacity: 0.95;
		margin: 30px auto;
		padding: 20px;
		border-radius: 10px;
	}
	
	.background ul li {
		color: #fff;
	}
	
	.picture {
		width: 100%;
		height: 100%;
	}
/*Content*/